body {
    font-size: 10pt;
    padding: 1px;
    border: 1px;
    margin: 1px;
    background-color: lightgoldenrodyellow;
}
header {
  text-align: center;
  font-family: "bangers";
  font-size: 23px;
  color: lightcoral;
}
hr{
  color: #000000
}
.container img{
  display: flex
}
.center{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.container p{
  margin: 5px;
  padding: 5px;
  border: 5px;
  font-family: "bangers";
  font-size: 25px;
} 
a{
  text-align: right;
  font-size: 20px;
}
